
.delete-btn {
        padding: 5px 10px;
        background-color: #2cdb09;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #2cdb09;
        }
      }