<main class="todo-container">
  <div class="add-task">
    <input  [(ngModel)]="newTask" placeholder="Enter new Task"/>
    <button (click)="addTask()">Add</button>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of todoList; let i = index" [ngClass]="{ completed: task.completed }">
      <input 
      type="checkbox"
       [(ngModel)]="task.completed"
        [(checked)]="task.completed"
         (change)="toggleCompleted(i)" />
      <span [class.competed]="task.completed" >{{ task.title }}</span>
      <button (click)="deleteTask(task.id)" class="delete-btn">Remove</button>
    </li>
  </ul>

</main>
<router-outlet />
